server:
  port: 9001

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_service_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  security:
    oauth2:
      authorization-server:
        issuer-uri: http://localhost:9001
      clients:
        gateway:
          client-id: gateway-client
          client-secret: ${GATEWAY_CLIENT_SECRET}
          client-name: API Gateway Client
          redirect-uri: http://localhost:9000/login/oauth2/code/gateway-client
          access-token-ttl: 15m
          refresh-token-ttl: 7d

logging:
  file:
    name: logs/auth-service.log
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  private-key: ${JWT_PRIVATE_KEY}
  public-key: ${JWT_PUBLIC_KEY}
  key-id: "auth-service-v1"